<baselayout>
  <div class="row mt-4">
    <div class="col-sm-6 text-success text-white text-center mt-4" [class.d-none]="!orderSuccessful">
      <h4>Your Order was successful.</h4>
      <p>Thank you for your petronage!</p>
    </div>
    <div class="col-sm-6"  [class.d-none]="orderSuccessful">
      <h3>Contact Information</h3>
      <form #form="ngForm" (ngSubmit)="submitOrder(form)" novalidate class="form">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="order.name" [class.submitted]="submitted" required />
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="order.address" [class.submitted]="submitted" required />
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="order.city" [class.submitted]="submitted" required />
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control" name="state" #state="ngModel" [(ngModel)]="order.state" [class.submitted]="submitted" required>
        </div>
        <div class="form-group">
          <label>Postal Code (Zip)</label>
          <input type="text" class="form-control" name="zip" #zip="ngModel" [(ngModel)]="order.zip" [class.submitted]="submitted" required />
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" name="country" #country="ngModel" [(ngModel)]="order.country" [class.submitted]="submitted" required />
        </div>
        <div class="text-center">
          <button type="button" routerLink="/cart" class="btn btn-warning">Back to Cart</button>
          &nbsp;
          <button type="submit" class="btn btn-primary" [disabled]="posting">Complete Order</button>
        </div>
      </form>
    </div>
  </div>
</baselayout>