<div class="container-fluid">
  <div class="row bg-primary">
    <div class="col-sm-3">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
    <div class="col-sm-6">
      <form class="mt-2">
        <div class="form-group">     
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <a>Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <navigation></navigation>
    </div>    
    <div class="col-sm-8">   
      <ng-content></ng-content>
    </div>
  </div>
</div>