<div class="col-sm-6">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td colspan="2">
          <h2 class="text-center">{{ user.name }}</h2>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>User ID</strong>
        </td>
        <td>
          <span>{{ user.userId }}</span>
        </td>
      </tr>      
      <tr>
        <td>
          <strong>City </strong>
        </td>
        <td>
          <span>{{ user.city }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Job</strong>
        </td>
        <td>
          <span>{{ user.job }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <h4  class="text-center">
    <button (click)="backToUsersList()" class="btn btn-primary">Back to Users List</button>
  </h4>
</div>