<style>
  input.ng-dirty.ng-invalid {
      border: 2px solid #ff0000;
  }
  input.ng-dirty.ng-valid {
      border: 2px solid #6bc502;
  }
</style>
<div class="row m-2">
    <div class="col-sm-4">
        <div class="bg-info text-white p-2">
            Selected Product: {{ selectedProduct || ' (None)' }}
        </div>
        <table class="table table-sm table-bordered mt-1 text-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let item of getProducts(); let i = index" [class.bg-info]="getSelected(item)">
                <th (mouseover)="selectedProduct = item.name">{{ i + 1 }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.price }}</td>
            </tr>   
        </table>
        <div class="form-group">
            <label>Product Name</label>
            <!--combinding event binding and property binding to form two-way data bindings -->
            <input  class="form-control" (input)="selectedProduct=$event.target.value" [value]="selectedProduct || ''" />
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <!--with ngModel you don't have to combine an event binding with a property binding to get a two-way data-binding-->
            <input  class="form-control" [(ngModel)]="selectedProduct" />
            <!--This is called a banana-in-a-box binding-->
            <!--You can use the ngMOdel directive with just the square bracket [ngModel] and Angular will set the initial value of the element 
                but won't listen for events, which means that changes made by the user won't be automatica;;y reflected in the application model. 
            -->
        </div>
    </div>

    <!--Using Template Reference Variable-->
    <div class="col-sm-4">
        <div class="bg-info text-white p-2">
            <!--outputing the value of the "value" property of the reference variable defined below-->
            Selected Product: {{ product.value || ' (None)' }}
        </div>
        <table class="table table-sm table-bordered mt-1 text-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let item of getProducts(); let i = index" 
                (mouseover) = "product.value = item.name"  
                [class.bg-info]="product.value == item.name">  
                <th (mouseover)="selectedProduct = item.name">{{ i + 1 }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.price }}</td>
            </tr>   
        </table>
        <div class="form-group">
            <label>Product Name</label>
            <!--defining a reference variable-->
            <input #product  class="form-control" (input)="false" />
            <!--This isn't something you will need to do in most real projects. Most data bindings rely on variables defined by the template's component. -->
        </div>
    </div>

     <!--Filtering Key events -->
     <div class="col-ms-4">
         <div class="form-group">
            <label>Email</label>
            <input #email (keyup)="false" class="form-control">
         </div>
         <p>{{ email.value }}</p>

         <div class="form-group">
             <label>City</label>
             <input #city (keyup.enter)="userCity = city.value" class="form-control">
         </div>
         <p>{{ userCity }}</p>
     </div>
</div>

<div class="row m-2">
    <div class="col-sm-4">
        <h3>Attribute-based from validation</h3>
        <div class="bg-info text-white mb-2 p-2">Model Data: {{ jsonProduct }}</div>
        <!--The novalidate attribute tells the bvrowser not to use its native validation feature since Angular will be providing the validation-->
        <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
            <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && form.invalid">
                There are problems with the form
                <ul>
                    <li *ngFor="let error of getFormValidationMessages(form)"> {{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label>Name</label>
                <!--Angular requires elements being validated to define the name attribute which is used to identify the element in the validation system. -->
                <input class="form-control"
                       name="name"
                       required
                       minlength="5"
                       pattern="^[A-za-z ]+$" 
                       [(ngModel)]="newProduct.name"
                       #name="ngModel" />
                <!--Since this input element is being used to capture the value of the Product.name property, the name oattributes has been set to name. -->
                <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty ) && name.invalid">
                  <li *ngIf="name.errors.required">You must enter a product name</li>
                  <li *ngIf="name.errors.pattern">Product names can only contain letters and spcaces</li>
                  <li *ngIf="name.errors.minlength">Product names must be at least {{ name.errors.minlength.requiredLength }} characters</li>
                </ul>
            </div>
            <div class="form-group">
                <label>Category</label>
                <input class="form-control" 
                       name="category"
                       required
                       minlength="5"
                       pattern="^[A-Za-z0-9 ]+$"
                       [(ngModel)]="newProduct.category"
                       #category="ngModel" />
                <ul class="text-danger list-unstyled" *ngIf="category.dirty">
                    <!--Here we use the null conditional operator (?) instead of checking that the field is invalid with category.invalid in the ul element like we did for the first form-group-->
                    <li *ngIf="category.errors?.required">The category field is required</li>
                    <li *ngIf="category.errors?.minlength">
                        The minimum number of characters for category field is {{ category.errors.minlength.requiredLength }} 
                        but you have only entered {{ category.errors.minlength.actualLength}} 
                    </li>
                    <li *ngIf="category.errors?.pattern">
                        Only letters, numbers and spaces can be used for categories i.e {{ category.errors.pattern?.requiredPattern }}
                        but your input is {{ category.errors.pattern?.actualValue }}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" 
                       name="price"
                       required
                       minlength="2"
                       pattern="^[0-9\.]+$"
                       [(ngModel)]="newProduct.price"
                       #price="ngModel">
                <!--Here we use the component to display validation messaged-->
                <ul class="text-danger list-unstyled" *ngIf="price.dirty && price.invalid">
                  <li *ngFor="let message of getValidationMessages(price, 'price')">{{  message }}</li> 
               </ul>
            </div>
            <!--<button class="btn btn-primary" (click)="addProduct(newProduct)">Create</button>-->
            <button class="btn btn-primary" 
                    type="submit"
                    [disabled]="formSubmitted && form.invalid"
                    [class.btn-secondary]="formSubmitted && form.invalid">Create</button>
        </form>
        <!--The angular validation feature works only when there is a form element present, 
            and Angular will report an error if you add the ngControl directive to an element that is not contained in a form.-->
    </div>

    <div class="col-sm-4">
        <h3>Model-based Form validation</h3>
        <form class="m-2" novalidate [formGroup]="productFormGroup" (ngSubmit)="submitForm(productFormGroup)">
            <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && productFormGroup.invalid">
                There are problems with the form 
                <ul>
                    <li *ngFor="let error of productFormGroup.getFormValidationMessages()">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" [(ngModel)]="newProduct.name" formControlName="name" />
                <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || productFormGroup.controls['name'].dirty) && productFormGroup.controls['name'].invalid">
                    <li *ngFor="let error of productFormGroup.controls['name'].getValidationMessages()">{{ error }}</li>
                </ul>
            </div>

            <div class="form-group">
                <label>Category</label>
                <input class="form-control" name="name" [(ngModel)]="newProduct.category" formControlName="category" />
                <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || productFormGroup.controls['category'].dirty) && productFormGroup.controls['category'].invalid">
                   <li *ngFor="let error of productFormGroup.controls['category'].getValidationMessages()" >{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="price" [(ngModel)]="newProduct.price" formControlName="price" />
                <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || productFormGroup.controls['price'].dirty) && productFormGroup.controls['price'].invalid">
                    <li *ngFor="let error of productFormGroup.controls['price'].getValidationMessages()"> {{ error }}</li>
                </ul>
            </div>
            <button class="btn btn-primary" 
                     type="submit"
                     [disabled]="formSubmitted && productFormGroup.invalid"
                     [class.btn-secondary]="formSubmitted && form.invalid">
                Create
            </button>
        </form>
        <!--
            Using the model-based validation required the formGroup directive [formGroup]

            The formControlName attribute of each input element identifies the input element to the model-based form system
            using the name used in the name used in the ProductFormGroup.
            Thisattribute also allws a]Angular to add and remove the validation lasses for the input element. 
            It tell Angular what specific validators to use in validating the input element.
        -->
    </div>

    <div class="col-sm-4">
        <h3>Generating the Elements from the Model</h3>
        <form class="m-2" novalidate [formGroup]="productFormGroup" (ngSubmit)="submitForm(productFormGroup)">
            <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmited && productFormGroup.invalid">
              There are problems with the form.  
              <ul>
                  <li *ngFor="let error of productFormGroup.getFormValidationMessages()"> {{ error }}</li>
              </ul>
            </div>
            <div class="form-group" *ngFor="let formControl of productFormGroup.productControls">
              <label>{{ formControl.label }}</label>
              <input class="form-control" name="{{ formControl.modelProperty }}" [(ngModel)]="newProduct[formControl.modelProperty]" formControlName="{{ formControl.modelProperty }}"/>
              <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || formControl.dirty) && formControl.invalid">
                <li *ngFor="let error of formControl.getValidationMessages()">{{ error }}</li>
              </ul>
            </div>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="formSubmitted && productFormGroup.invalid"
                    [class.btn-seconday]="formSubmitted && productFormGroup.invalid">
                Create
            </button> 
        </form>
    </div>
</div>


